header{ 
    color: rgb(12, 0, 0);
    font-size:15px;
    font-family: 'Courier New', Courier, monospace;
  }

h1{
    color: grey;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
  h2{ 
    color:rgb(74, 71, 71);
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  }

p{ 
    color: rgb(0, 0, 0);
     font: size 75 px;
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
  
}
ol{color:rgb(0, 0, 0)}

h3{ 
    color: slategrey;
    font-size:60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

body {
  background: center url(249.jpg);
  background-size:cover;
  }
  
