header{ 
    color: red;
    font-size:15px;
    font-family: 'Courier New', Courier, monospace;
  }

h1{
    color: grey;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
  h2{ 
    color:darkgray;
  font-size: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  }

p{ 
    color: rgb(38, 25, 7);
     font: size 60px;px;
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
}

h3{ 
    color: slategrey;
    font-size:95px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
